<!DOCTYPE html>

<html lang="term-for-english">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Movie List</title>
  </head>

  <body>
    <h1>Add a New Movie</h1>

    <form method="post">
      <input type="text" name="title" placeholder="Title" required />

      <input type="text" name="director" placeholder="Director" required />

      <input type="number" name="year" placeholder="Year" required />

      <input
        type="number"
        step="0.1"
        name="rating"
        placeholder="Rating"
        required
      />

      <input type="submit" value="Add Movie" />
    </form>

    <p>{{ movies }}</p>

    <a href="http://127.0.0.1:5000">Click here</a>
  </body>
</html>
